@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");

.glide__slide {
  text-align: center;
  justify-items: center;
  align-content: center;
}

.glide__slide h2 {
  padding-top: 2vh;
}

.corousel {
  padding: 10vh 0 8vh 0;
}
#menu img {
  border-radius: 50%;
  width: calc(20vw) !important;
  height: calc(20vw);
  min-height: 100px;
  min-width: 100px;
  max-width: 250px;
  max-height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#menu p {
  font-size: small;
  color: #666666;
  padding: 0px 50px;
  margin: 0;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
