#find {
  background-image: url("../assets/images/bgRekomendasi.png");
  background-size: cover;
  padding: 40px;
  min-height: 95vh;
}

#find button {
  border-radius: 30px;
}

.range-rekomendasi p {
  margin: 0;
}

.range-rekomendasi h4 {
  margin: 0;
}

.range-rekomendasi button {
  margin-bottom: 30px;
}

.heading-rekomendasi {
  width: 70%;
}
.heading-rekomendasi > p {
  font-size: 14px;
}

.heading-rekomendasi > h4 > span {
  display: block;
}

.sliding-slider {
  padding: 30px 0px;
  font-weight: 500;
}

.hasil-rekomendasi {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}

.desc-hasil > p {
  -webkit-line-clamp: 8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.rating {
  background-color: rgb(238, 238, 238);
}

.para > p {
  font-weight: bold;
}
