#find {
  background-image: url("../assets/images/bgRekomendasi.png");
  background-size: cover;
  padding: 40px;
}

#find button,
#find a {
  border-radius: 30px;
}

.range-rekomendasi button {
  margin-bottom: 30px;
}
.range-rekomendasi p {
  margin: 0;
}

.range-rekomendasi h4 {
  margin: 0;
}

.heading-rekomendasi {
  width: 70%;
}

.heading-rekomendasi > p {
  font-size: 14px;
}

.heading-rekomendasi > h5 > span {
  display: block;
}

.sliding-slider {
  padding: 30px 0 0 0;
  font-weight: 500;
}

.hasil-rekomendasi {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}
.anim {
  -webkit-animation: fadeInAnimation ease 3s;
  animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desc-hasil > p {
  -webkit-line-clamp: 8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.rating {
  background-color: rgb(238, 238, 238);
}

.para > p {
  font-weight: bold;
}
