@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");

#menu {
  background-image: url("../assets/images/bgMenu.png");
  background-size: cover;
  height: 100vh;
}

#menu img {
  border-radius: 50%;
  width: calc(40vw) !important;
  height: calc(40vw);
  min-height: 200px;
  min-width: 200px;
  max-width: 250px;
  max-height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.menu_title > h1 {
  font-size: clamp(1rem, calc(2rem + 1vh), 5rem);
}
.glide__slides {
  text-align: center;
  justify-items: center;
  align-content: center;
}

.glide__slide h2 {
  padding-top: 2vh;
}

.glide__slide p {
  padding: 0 8vh;
}
.glide__slide > p {
  font-size: smaller;
  color: #666666;
  margin: 0;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 900px) {
  #menu img {
    width: calc(80vw) !important;
    height: calc(80vw);
    max-width: 300px;
    max-height: 300px;
  }

  /* .menu_title > h1 {
    font-size: 2rem !important;
  } */

  .menu_title > h1 > span {
    display: block;
  }

  .glide__slide > p {
    padding: 0 10vw;
    -webkit-line-clamp: 5;
  }
}
